.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredientDisplay {
  width: 200px;
  height: 60px;
}

.ingredientButton {
  width: 200px;
  height: 60px;
  background-color: lightblue;
}

.saveRecipe {
  background-color: rgb(155, 199, 155);
  width: 200px;
  height: 60px;
}